{{/* Used by
1. list.html and term.html (when the cardView option is enabled)
2. Recent articles template (when the cardView option is enabled)
3. Shortcode list.html
*/}}
{{ $disableImageOptimization := site.Store.Get "disableImageOptimization" }}
{{ $context := . }}
{{ $scope := default nil }}
{{ $page := .Page }}

{{ $featured := "" }}
{{ $featuredURL := "" }}
{{ if not .Params.hideFeatureImage }}
{{/* frontmatter */}}
{{ with $page }}
{{ with .Params.featureimage }}
{{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
{{ if site.Params.hotlinkFeatureImage }}
{{ $featuredURL = . }}
{{ else }}
{{ $featured = resources.GetRemote . }}
{{ end }}
{{ else }}
{{ $featured = resources.Get . }}
{{ end }}
{{ end }}

{{/* page resources */}}
{{ if not (or $featured $featuredURL) }}
{{ $images := .Resources.ByType "image" }}
{{ range slice "*feature*" "*cover*" "*thumbnail*" }}
{{ if not $featured }}{{ $featured = $images.GetMatch . }}{{ end }}
{{ end }}
{{ end }}

{{/* fallback to default */}}
{{ if not (or $featured $featuredURL) }}
{{ $default := site.Store.Get "defaultFeaturedImage" }}
{{ if $default.url }}
{{ $featuredURL = $default.url }}
{{ else if $default.obj }}
{{ $featured = $default.obj }}
{{ end }}
{{ end }}

{{/* generate image URL if not hotlink */}}
{{ if not $featuredURL }}
{{ with $featured }}
{{ $featuredURL = .RelPermalink }}
{{ if not (or $disableImageOptimization (eq .MediaType.SubType "svg")) }}
{{ $featuredURL = (.Resize "600x").RelPermalink }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}


<article
  class="relative min-h-full min-w-full overflow-visible rounded border border-2 border-neutral-200 shadow-2xl dark:border-neutral-700">
  {{/*  {{partial "avatar.html" . }}  */}}
  {{ with $featuredURL }}
  <div class="flex-none relative overflow-hidden thumbnail_card">
    <img src="{{ . }}" alt="{{ $page.Title | plainify }}" loading="lazy" decoding="async"
      class="not-prose absolute inset-0 w-full h-full object-cover  ">
  </div>
  {{ end }}
  {{ if and .Draft .Site.Params.article.showDraftLabel }}
  <span class="absolute top-0 right-0 m-2">
    {{ partial "badge.html" (i18n "article.draft" | emojify) }}
  </span>
  {{ end }}
  <div class="px-6 py-4 gap-2">
    {{ partial "inline-avatar.html" . }}
    <div class="text-sm text-neutral-500 dark:text-neutral-400">
      {{ partial "article-meta/basic.html" . }}
    </div>
    {{ if .Params.showSummary | default (.Site.Params.list.showSummary | default false) }}
    <div class="prose dark:prose-invert py-1">{{ .Summary | plainify }}</div>
    {{ end }}
  </div>
  <div class="px-6 pt-4 "></div>
</article>