<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=[device-width], initial-scale=1.0">
    <link rel="stylesheet" href="/DIMELA.mx/styles/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {{ partial "navbar" . }}
        {{ block "main" . }} {{ end }}
        {{ partial "footer" . }}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const container = document.querySelector('.grid-container'); // Use querySelector to select by class
            const items = Array.from(container.children);
    
            // Shuffle the items array
            items.sort(() => Math.random() - 0.5);
    
            // Clear the container
            container.innerHTML = '';
    
            // Append shuffled items back to the container
            items.forEach(item => container.appendChild(item));
        });
        </script>

</body>
</html>