{{ define "main" }}

<div class="intro">
    <p>Descubre a letristas Mexicanxs: diseñadorxs de tipografía, lettering, caligrafía, rotulación etc.</p>
    <p>Este directorio conecta y celebra el talento mexicano en el arte de la letra.</p>
</div>
{{ partial "filtrar_servicios" . }}
{{ partial "explorar_estado" . }}
    <div class="list">
        <div class="card-container">
        {{ range .Pages }}
        <div class="tarjeta-regular" data-servicios="[{{ $first := true }}{{ range .Params.servicios }}{{ if not $first }}{{ "," }}{{ end }}{{ . | lower | jsonify }}{{ $first = false }}{{ end }}]">
            <div class="tarjetaTop">
                {{/*  <img class="coverImg" src="/DIMELA.mx/images/covers/{{ .File.ContentBaseName }}.jpg" alt="a">  */}}
                <img class="coverImg" src="/DIMELA.mx/images/covers/cover1.jpg" alt="avatar1">
            </div>
            <div class="tarjetaBottom">
                <div class="tarjetaName-Avatar">
                    {{/*  <img class="avatar" src="/DIMELA.mx/images/avatars/{{ .File.ContentBaseName }}.jpg" alt="a">  */}}
                    <img class="avatar" src="/DIMELA.mx/images/avatars/avatar1.jpg" alt="avatar1">
                <h2><a class="nombreTarjeta" href="{{ .Permalink }}"> {{ .Name}}</a></h2>                
            </div>
                
                <div class="tarjetaTop-info">
                    <a class="estadoTag" href="{{ .Site.BaseURL }}estado/{{ .Params.estado | urlize }}">{{ .Params.estado }}</a>
                    <a class="linkTarjeta" href="{{ .Params.link }}">{{ .Params.link }}</a>
                </div>
                <div class="serviciosContainer">
                    {{ range (.GetTerms "servicios") }}
                        <a class="serviciosTag" href="{{ .Permalink }}">{{ .Name }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
        </div>
    </div>
{{ end }}