@font-face {
  font-family: "OutpactVF";
  src: url("/fonts/Outpact-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
/* html {
    font-family: OutpactVF;
} */

/* Avatar styles */
article.relative {
  position: relative;
  overflow: visible;
}

.card-avatar img,
.card-avatar > div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.thumbnail_card {
     min-width: 100px;
}
@media only screen and (max-width: 576px) {
    .card-avatar img,
    .card-avatar > div {
        width: 120px;
        height: 120px;
    }   

}

