<header class="site-header">
  <nav class="site-nav">
    <div class="top-row">
      <a href="{{ .Site.BaseURL }}" class="logo">
        <img src="{{ "/DIMELA_logo.png" | absURL }}" alt="{{ .Site.Title }}">
      </a>
      <button class="hamburger-menu" aria-label="Menu">
        &#9776; <!-- Unicode for hamburger icon -->
      </button>
    </div>
    <div class="bottom-row">
      <ul class="main-menu">
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>
</header>
