{{ $avatar_path := .Params.avatar }}
{{ $avatar_url := "" }}
{{ if $avatar_path }}
    {{ $res := .Resources.GetMatch $avatar_path }}
    {{ if $res }}
        {{ $avatar_url = $res.RelPermalink }}
    {{ else }}
        {{ $avatar_url = printf "%s%s" .RelPermalink $avatar_path }}
    {{ end }}
{{ end }}

{{ if $avatar_url }}
<div class="card-avatar">
    <img class="w-16 h-16 rounded-full border-2 border-white shadow-md object-cover" src="{{ $avatar_url }}" alt="{{ .Title }}">
</div>
{{ else }}
<div class="card-avatar">
    <div class="align-middle rounded-full mr-2 bg-neutral-200 dark:bg-neutral-600 flex items-center justify-center">
        <svg class="w-48 h-48 text-neutral-500 dark:text-neutral-400" viewBox="0 0 24 24" fill="currentColor">

            <defs>
                <clipPath id="clipCircle">
                    <circle cx="12" cy="12" r="12" />
                </clipPath>
            </defs>

            <g clip-path="url(#clipCircle)">
                <!-- cabeza -->
                <circle cx="12" cy="8" r="4" />
                <!-- cuerpo -->
                <path d="M4 22c0-5 4-8 8-8s8 3 8 8v2H4v-2z" />
            </g>

        </svg>
    </div>
</div>
{{ end }}
