<header class=" flex gap-2 mb-1 items-center">

    {{ $avatar_path := .Params.avatar }}
    {{ $avatar_url := "" }}
    {{ if $avatar_path }}
    {{ $res := .Resources.GetMatch $avatar_path }}
    {{ if $res }}
    {{ $avatar_url = $res.RelPermalink }}
    {{ else }}
    {{ $avatar_url = printf "%s%s" .RelPermalink $avatar_path }}
    {{ end }}
    {{ end }}
    {{ if $avatar_url }}
    <img class="w-12 h-12 rounded-full mr-2 object-cover mt-0 mb-0" src="{{ $avatar_url }}" alt="{{ .Title }}">
    {{ else }}
    <div class="align-middle rounded-full mr-2 bg-neutral-200 dark:bg-neutral-600 flex items-center justify-center">
        <svg class="w-12 h-12 text-neutral-500 dark:text-neutral-400" viewBox="0 0 24 24" fill="currentColor">

            <defs>
                <clipPath id="clipCircle">
                    <circle cx="12" cy="12" r="12" />
                </clipPath>
            </defs>

            <g clip-path="url(#clipCircle)">
                <!-- cabeza -->
                <circle cx="12" cy="8" r="4" />
                <!-- cuerpo -->
                <path d="M4 22c0-5 4-8 8-8s8 3 8 8v2H4v-2z" />
            </g>

        </svg>
    </div>


    {{ end }}

    <div>
        <a {{ with .Params.externalUrl }} href="{{ . }}" target="_blank" rel="external" {{ else }}
            href="{{ .RelPermalink }}" {{ end }}
            class="not-prose before:absolute before:inset-0 decoration-primary-500 dark:text-neutral text-xl font-bold text-neutral-800 hover:underline hover:underline-offset-2">
            {{ .Title | emojify }}
        </a>
        {{ if not .Params.showAuthorsBadges | default (.Site.Params.article.showAuthorsBadges | default false) }}
        <div class="flex flex-row flex-wrap items-center">

            {{ $context := . }}
            {{ range $taxonomy, $terms := .Site.Taxonomies }}
            {{ if (eq $taxonomy "estado") }}
            {{ if (gt (len ($context.GetTerms $taxonomy)) 0) }}
            {{ range $i, $a := $context.GetTerms $taxonomy }}
            {{ if not (eq $i 0) }}
            ,&nbsp;
            {{ end }}
            <a href="{{ $a.RelPermalink }}" class="relative text-sm text-neutral-900 dark:text-neutral-400 ">{{
                $a.LinkTitle }}</a>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
        {{ end }}
        {{ if .Params.externalUrl }}
        <span class="cursor-default align-top text-xs text-neutral-400 dark:text-neutral-500">
            <span class="rtl:hidden">&#8599;</span>
            <span class="ltr:hidden">&#8598;</span>
        </span>
        {{ end }}

    </div>
</header>