<nav class="navbar">
    <div class="logo">
        <a href="/DIMELA.mx">DIMELA.mx</a>
    </div>
    
    <div class="filter-bar">
        <a class="serviciosTagBarra" href="/DIMELA.mx/servicios/branding">Branding</a>
        <a class="serviciosTagBarra" href="/DIMELA.mx/servicios/diseño-editorial">Diseño Editorial</a>
        <a class="serviciosTagBarra" href="/DIMELA.mx/servicios/diseño-de-tipografía/">Diseño de Tipografía</a>
        <a class="serviciosTagBarra" href="/DIMELA.mx/servicios/ingeniería-de-fuentes/">Ingeniería de Fuentes</a>
        <a class="serviciosTagBarra" href="/DIMELA.mx/servicios/rotulación-manual/">Rotulación Manual</a>
        <a class="serviciosTagBarra" href="/DIMELA.mx/servicios/lettering">Lettering</a>

        <div class="searchButton">
            <span>Search</span>
        </div>
    </div>

</nav>

