:root {
    --DMpink: #ef40ef;
    --DMblue: #3099ff;
    --DMgreen:#309930;

    --DMblack: #000000;
    --DMoffwhite:#efcfef;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Verdana";
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    min-height: 100vh;

    background-color: var(--DMoffwhite);
    color: var(--DMblack);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;  
}


a {
    color:inherit;
    text-decoration: none;
}


/* ----------- NAVBAR START--------- */

.navbar {
    background-color: #ef40ef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;       
}

.logo {
    margin: 10px;
    font-size: 20px;
}

.filter-bar {
    padding: 10px;
    background-color: #309930;
    display: flex;
    justify-content: space-between;
}

.filter-bar a {
    text-decoration: underline;
}

.serviciosTagBarra {
    padding: 5px;
    background-color: #3099ff;
    font-size: 12px;
}

/* ----------- NAVBAR END----------- */


/* ----------- LIST PAGE START--------- */

.list {
    background-color: var(--DMoffwhite);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%; 
}

.grid-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Auto-fit columns horizontally */
    gap: 15px; /* Space between grid items */
    margin:20px;
}

.tarjeta-regular {
    background-color: #4CAF50;
    color: white;
    margin:0px;
    padding: 15px;
    text-align: center;
    aspect-ratio: 5 / 3; /* Maintain a 5:3 aspect ratio */
    border: 5px solid black; /* Optional styling */
}

.estadoTag {
    padding: 5px;
    background-color: #ef40ef;
    font-size: 12px;
}

.serviciosContainer {
    display: flex;
    gap:10px;
    margin-top: 10px;
}

.serviciosTag {
    padding: 5px;
    background-color: #3099ff;
    font-size: 12px;
}

/* ----------- LIST PAGE END--------- */


/* ----------- SINGLE PAGE START--------- */

.descripcionTarjeta {
    padding: 10px;
}

/* ----------- SINGLE PAGE END--------- */

/* ----------- FOOTER START--------- */
.footer {
    height:60px;
    background-color: #3099ff;
}
/* ----------- FOOTER END--------- */